.navbar{
    background-color: rgb(245, 66, 66);
    opacity: 1;
    z-index: 2;
}
.hamburger div{
    background-color: white;
}
.hamburger-menu{
    opacity: 1;
    background-color: rgb(245, 66, 66);
}
.nav-links a{
    text-decoration: none;
    color: white;
} 
.main-section-books{
    height: 100%;
    width: 100%;
    background-color: rgb(48, 43, 43);

}

.main-section-books h2{
    z-index: 1;
    padding-top: 7%;
    padding-left: 3%;
    padding-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
}

.books-section{
    padding-left: 7%;
    justify-content: center;
    width: 90%;
    height: 70%;
    display: grid;
    padding-bottom: 7%;
    margin: auto;
}

.books-list{
    background-color: rgb(48, 43, 43);
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 30px;
    
}
.books-list li {
    display: block;
}
.books-list a{
    text-decoration: none;
}
.books-list li:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.books-list li img{
    height: 290px;
    width: 190px;
    box-shadow: 5px 5px 18px rgb(26, 25, 25);
    border-radius: 5px;
}



.books-list li p{
    padding-top: 5px;
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Balsamiq Sans', cursive;
}

.books-list li h4{
    font-family: 'Balsamiq Sans', cursive;
    color: cadetblue;
}

@media screen and (max-width:1650px){
    .main-section-books h2{
        padding-top: 20%;
    }
    .books-list{
        gap: 15px;
    }
}
@media screen and (max-width:1200px){
    .main-section-books h2{
        padding-top: 15%;
    }
    .books-list{
        grid-template-columns: 20% 20% 20%;
        gap: 100px;
    }
}
@media screen and (max-width:800px){
    .main-section-books h2{
        padding-top: 30%;
        padding-bottom: 5%;
    }
    .books-list{
        grid-template-columns: 30% 30% ;
        gap: 100px;
    }
}
@media screen and (max-width:720px){
    .main-section-books h2{
        font-size: large;
    }
    .books-list{
        gap: 70px;
    }
    .books-list li a img{
        height: 150px;
        width: 90px;
    }
    .books-list li p {
        font-size: medium;
    }
    .books-list li h4{
        font-size: small;
    }
}
